<section class="container">
  <div class="row">
    <div class="col-md-12">
    </div><!-- .col-md-12 -->
  </div><!-- .row -->

<div class="row">
  <% @missions.each do |mission| %>
  <div class="col-md-4">
    <div class="card">
      <div class="card-topper">
      <% if mission.picone.present? %>
      <%= image_tag mission.picone.url(:thumb), style:"width:100%;" %>
      <% else %>
      No Image
      <% end %>
    </div><!-- .card-topper -->
    <div class="card-block">
        <h4 class="card-title"><%= mission.boxtitle %></h4>

        <td><%= link_to 'LEADL MORE', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div><!-- .card-block -->
    </div><!-- .card -->
    </div><!-- .col-md-4 -->

    <% end %>
</div><!-- .row -->



<%= link_to 'New Mission', new_mission_path %>
</section>
